<h2>ZETTASYSTEMS ESCALATION PROCEDURE</h2>

<h2>DevOps/SRE</h2>

<p>Team availability is 24/7 with typical response for urgent request within 15mins.</p>

<h3>Business Hours: Mon - Fri 7AM - 4PM UTC</h3>

<p>For any activities during business hours you can invoke an engineer following or reporting problem via the following ways:</p>

<p>Chat</p>

<p>Preferable for:</p>

<ul>
	<li>non-immediate action/reponse</li>
	<li>quick communication</li>
	<li>short activities</li>
	<li>consultancy</li>
</ul>

<p><strong>Usage</strong> just tag <code>@zettaops</code></p>

<p>Ticket</p>

<p>Preferable for:</p>

<ul>
	<li>reporting incidents</li>
	<li>reporting task</li>
	<li>reporting story (long activity)</li>
	<li>reporting a bug/problem</li>
</ul>

<p><strong>Usage&nbsp;</strong>Login to <a href="https://zettasystems.atlassian.net/">https://zettasystems.atlassian.net/</a> and create ticket as you fill all required fields as you try to describe the problem and impact as much as possible details.</p>

<h3>Non Business Hours</h3>

<p>Ticket</p>

<p>Preferable for:</p>

<ul>
	<li>reporting incidents with direct impact</li>
	<li>any other activities</li>
</ul>

<p><strong>Usage&nbsp;</strong>Login to <a href="https://zettasystems.atlassian.net/">https://zettasystems.atlassian.net/</a> and create ticket as you fill all required fields as you try to describe the problem and impact as much as possible details.</p>

<p>Phone</p>

<p>Preferable for:</p>

<ul>
	<li>reporting incidents with direct impact and needs immediate escalation</li>
</ul>

<p><strong>Usage</strong> Call +35924928757 (Bulgaria)</p>
